#
# Cluster wide configuration for
# running experiments.
#


#
# GUITAR Checkout type
#
#checkout_type=num
checkout_type=tag

#
# GUITAR revision
#
#guitar_revision=3082
#guitar_revision=HEAD
guitar_revision=v1.3


#
# EFG Argument type
#

#efg_arg_type="old"
efg_arg_type="new"

#
# Cluster user name
#
username="skollbuild"

#
# Cluster temporary directory tag
#
tmpdirtag="bryan"

# Stage host name
#
# Currently: 000
#
stage_host="skoll000.umiacs.umd.edu"

#
# A list of all remote hosts on the cluster.
#
host_list=(\
   "skoll001.umiacs.umd.edu"\
)

# To mark a host as offline, *move* it to the
# _offline_ list.
#

host_offline_list=(\
   "skoll069.umiacs.umd.edu"\
   "skoll070.umiacs.umd.edu"\
   "skoll071.umiacs.umd.edu"\
   "skoll098.umiacs.umd.edu"\
   "skoll117.umiacs.umd.edu"\
)


x_lib_path="/usr/lib/X11"
cmd_xvfb="/usr/X11R6/bin/Xvfb"
