#
# Cluster wide configuration for
# running experiments.
#


#
# GUITAR Checkout type
#
#checkout_type=num
checkout_type=tag

#
# GUITAR revision
#
#guitar_revision=3082
#guitar_revision=HEAD
guitar_revision=v1.3


#
# EFG Argument type
#

#efg_arg_type="old"
efg_arg_type="new"

#
# Cluster user name
#
username="skollbuild"

#
# Cluster temporary directory path
#
# tmpdir="bryan"

# Stage host name
#
# Currently: 000
#
stage_host="skoll000.umiacs.umd.edu"

#
# A list of all remote hosts on the cluster.
#
#host_list=(\
#   "skoll001.umiacs.umd.edu"\
#)

host_list=(\
   "skoll001.umiacs.umd.edu"\
   "skoll002.umiacs.umd.edu"\
   "skoll003.umiacs.umd.edu"\
   "skoll004.umiacs.umd.edu"\
   "skoll005.umiacs.umd.edu"\
   "skoll006.umiacs.umd.edu"\
   "skoll007.umiacs.umd.edu"\
   "skoll008.umiacs.umd.edu"\
   "skoll009.umiacs.umd.edu"\
   "skoll010.umiacs.umd.edu"\
   "skoll011.umiacs.umd.edu"\
   "skoll012.umiacs.umd.edu"\
   "skoll013.umiacs.umd.edu"\
   "skoll014.umiacs.umd.edu"\
   "skoll015.umiacs.umd.edu"\
   "skoll016.umiacs.umd.edu"\
   "skoll017.umiacs.umd.edu"\
   "skoll018.umiacs.umd.edu"\
   "skoll019.umiacs.umd.edu"\
   "skoll020.umiacs.umd.edu"\
   "skoll021.umiacs.umd.edu"\
   "skoll022.umiacs.umd.edu"\
   "skoll023.umiacs.umd.edu"\
   "skoll024.umiacs.umd.edu"\
   "skoll025.umiacs.umd.edu"\
   "skoll026.umiacs.umd.edu"\
   "skoll027.umiacs.umd.edu"\
   "skoll028.umiacs.umd.edu"\
   "skoll029.umiacs.umd.edu"\
   "skoll030.umiacs.umd.edu"\
   "skoll031.umiacs.umd.edu"\
   "skoll032.umiacs.umd.edu"\
   "skoll033.umiacs.umd.edu"\
   "skoll034.umiacs.umd.edu"\
   "skoll035.umiacs.umd.edu"\
   "skoll036.umiacs.umd.edu"\
   "skoll037.umiacs.umd.edu"\
   "skoll038.umiacs.umd.edu"\
   "skoll039.umiacs.umd.edu"\
   "skoll040.umiacs.umd.edu"\
   "skoll041.umiacs.umd.edu"\
   "skoll042.umiacs.umd.edu"\
   "skoll043.umiacs.umd.edu"\
   "skoll044.umiacs.umd.edu"\
   "skoll045.umiacs.umd.edu"\
   "skoll046.umiacs.umd.edu"\
   "skoll047.umiacs.umd.edu"\
   "skoll048.umiacs.umd.edu"\
   "skoll049.umiacs.umd.edu"\
   "skoll050.umiacs.umd.edu"\
   "skoll051.umiacs.umd.edu"\
   "skoll052.umiacs.umd.edu"\
   "skoll053.umiacs.umd.edu"\
   "skoll054.umiacs.umd.edu"\
   "skoll055.umiacs.umd.edu"\
   "skoll056.umiacs.umd.edu"\
   "skoll057.umiacs.umd.edu"\
   "skoll058.umiacs.umd.edu"\
   "skoll059.umiacs.umd.edu"\
   "skoll060.umiacs.umd.edu"\
   "skoll061.umiacs.umd.edu"\
   "skoll062.umiacs.umd.edu"\
   "skoll063.umiacs.umd.edu"\
   "skoll064.umiacs.umd.edu"\
   "skoll065.umiacs.umd.edu"\
   "skoll066.umiacs.umd.edu"\
   "skoll067.umiacs.umd.edu"\
   "skoll068.umiacs.umd.edu"\
   "skoll072.umiacs.umd.edu"\
   "skoll074.umiacs.umd.edu"\
   "skoll075.umiacs.umd.edu"\
   "skoll076.umiacs.umd.edu"\
   "skoll078.umiacs.umd.edu"\
   "skoll079.umiacs.umd.edu"\
   "skoll080.umiacs.umd.edu"\
   "skoll081.umiacs.umd.edu"\
   "skoll082.umiacs.umd.edu"\
   "skoll083.umiacs.umd.edu"\
   "skoll084.umiacs.umd.edu"\
   "skoll085.umiacs.umd.edu"\
   "skoll086.umiacs.umd.edu"\
   "skoll087.umiacs.umd.edu"\
   "skoll088.umiacs.umd.edu"\
   "skoll089.umiacs.umd.edu"\
   "skoll090.umiacs.umd.edu"\
   "skoll091.umiacs.umd.edu"\
   "skoll092.umiacs.umd.edu"\
   "skoll093.umiacs.umd.edu"\
   "skoll094.umiacs.umd.edu"\
   "skoll096.umiacs.umd.edu"\
   "skoll097.umiacs.umd.edu"\
   "skoll099.umiacs.umd.edu"\
   "skoll100.umiacs.umd.edu"\
   "skoll101.umiacs.umd.edu"\
   "skoll102.umiacs.umd.edu"\
   "skoll104.umiacs.umd.edu"\
   "skoll105.umiacs.umd.edu"\
   "skoll106.umiacs.umd.edu"\
   "skoll107.umiacs.umd.edu"\
   "skoll108.umiacs.umd.edu"\
   "skoll109.umiacs.umd.edu"\
   "skoll110.umiacs.umd.edu"\
   "skoll111.umiacs.umd.edu"\
   "skoll112.umiacs.umd.edu"\
   "skoll113.umiacs.umd.edu"\
   "skoll114.umiacs.umd.edu"\
   "skoll115.umiacs.umd.edu"\
)

# To mark a host as offline, *move* it to the
# _offline_ list.
#

host_offline_list=(\
   "skoll069.umiacs.umd.edu"\
   "skoll070.umiacs.umd.edu"\
   "skoll071.umiacs.umd.edu"\
   "skoll098.umiacs.umd.edu"\
   "skoll117.umiacs.umd.edu"\
)


x_lib_path="/usr/lib/X11"
cmd_xvfb="/usr/X11R6/bin/Xvfb"
